@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";
@tailwind utilities;

.theme-black {
  --color-primary: #983234;
  --color-secondary: hsl(0, 0%, 50%);
  --color-text-base: hsl(0, 0%, 100%);
  --color-bg-primary: hsl(0, 0%, 100%);
}

.theme-green {
  --color-primary: #0f0;
  --color-secondary: hsl(0, 0%, 50%);
  --color-text-base: hsl(0, 0%, 100%);
  --color-bg-primary: hsl(0, 0%, 100%);
}

@theme {
  --font-inter: "Inter", "serif";
  --font-mono: "Space Mono", monospace;
  --color-primary: var(--color-primary)
}
