---
const posts = [
  {
    name: "My most meaningful initiative ever — Smart India Hackathon",
    link: "https://medium.com/p/22734c17ddfa",
    datePublished: "7/12/2018",
  },
  {
    name: "Interact with MySQL DB using Android’s WebView & PHP (Part 1: Setup & Preview)",
    link: "https://medium.com/p/1327d3baf277",
    datePublished: "8/3/2020",
  },
  {
    name: "Interact with MySQL DB using Android’s WebView & PHP (Part 2: Completion)",
    link: "https://medium.com/p/c03b6fd63db4",
    datePublished: "15/3/2020",
  },
  {
    name: "Convert Adobe XD prototypes to Flutter Widgets [EARLY ACCESS]",
    link: "https://medium.com/p/67cecd40c509",
    date: "19/5/2020",
  },
  {
    name: "Customize Android Studio UI",
    link: "https://medium.com/p/dfe517d28f44",
    datePublished: "18/6/2020",
  },
  {
    name: "Welcome to CodeAppRun",
    link: "https://medium.com/p/ab609bebda00",
    datePublished: "6/8/2020",
  },
  {
    name: "How to get a Dribbble Invite?",
    link: "https://medium.com/p/bcf8767b3baa",
    datePublished: "8/9/2020",
  },
  {
    name: "A desperate mistake: Update README.md",
    link: "https://medium.com/p/1a912a9fd0a8",
    datePublished: "3/10/2020",
  },
  {
    name: "Here’s why design tools don’t matter!",
    link: "https://medium.com/p/df7c20f55e96",
    datePublished: "12/10/2020",
  },
  {
    name: "How Media Query Is Going To Change Your Flutter App",
    link: "https://dev.to/sunitshirke/how-media-query-is-going-to-change-your-flutter-app-4ni0",
    datePublished: "30/9/2020",
  },
  {
    name: "Introducing microregex - A highly Curated Catalog of RegEx Patterns",
    link: "https://reactplay.hashnode.dev/introducing-microregex-a-highly-curated-catalog-of-regex-patterns",
    datePublished: "24/10/2022",
  },
];

let selectedIndex = 0;
let isSearching = false;

const sortedPosts = posts
  .map((post) => ({
    ...post,
    dateObj: new Date(post.date.split("/").reverse().join("-")), // Convert to Date object
  }))
  .sort(
    (
      a: { date: string; name: string; link: string; dateObj: Date },
      b: { date: string; name: string; link: string; dateObj: Date }
    ) => b.dateObj - a.dateObj
  ) // Sort descending
  .map((post) => ({
    name: post.name,
    link: post.link,
    date: post.dateObj.toLocaleDateString("en-US", {
      year: "numeric",
      month: "long",
      day: "numeric",
    }), // Format to English
  }));
---

<main class="animate-fade-in-up relative">
  <h1 class="text-2xl font-bold mb-8 font-inter">
    <span class="mr-2">|</span><span class="">blog</span>
  </h1>
  <p class="hidden text-sm text-gray-400 mb-8 font-mono">
    press <kbd class="px-1 py-0.5 text-xs border border-gray-700 rounded">/</kbd
    > to search • use <kbd
      class="px-1 py-0.5 text-xs border border-gray-700 rounded">ctrl / ⌘ j</kbd
    > and <kbd class="px-1 py-0.5 text-xs border border-gray-700 rounded"
      >ctrl / ⌘ k</kbd
    > or <kbd class="px-1 py-0.5 text-xs border border-gray-700 rounded">↑</kbd>
    and <kbd class="px-1 py-0.5 text-xs border border-gray-700 rounded">↓</kbd> to
    navigate
  </p>

  <div class="space-y-8 sm:space-y-4">
    {
      sortedPosts.map((post, index) => {
        return (
          <div class={`flex flex-col sm:flex-row sm:justify-between sm:items-center gap-2 sm:gap-4 group ${
        isSearching
          ? "bg-gradient-to-r from-gray-100 to-transparent -mx-2 px-2 border-l-2 border-l-accent"
          : ""
      }`}>
              <a
                class="text-gray-500 hover:text-black transition-colors duration-200"
                href={post.link}
                target="_blank"
              >
                {post.name}
              </a>
              <div class="flex items-center text-sm text-gray-400 shrink-0">
                <span>{post.date}</span>
              </div>
          </div>
        );
      })
    }
  </div>
</main>

<script>
  document.addEventListener("keydown", function (e) {
    if (e.key === "/") { 
      e.preventDefault(); 
    } else if (e.key === "Escape") {
        document.activeElement instanceof HTMLElement &&
          document.activeElement.blur()
      }
  });
</script>
