<nav class="flex items-center justify-between mb-12 text-sm">
    <div class="flex space-x-4">
      <a class="hover:text-accent transition-colors duration-200" href="/"
        >[h] home</a>
		<a class="hover:text-accent transition-colors duration-200" href="/blog"
        >[b] blog</a>
		<a
        class="hover:text-accent transition-colors duration-200"
        href="/projects">[p] projects</a>
		<a
        class="hover:text-accent transition-colors duration-200"
        href="/about">[a] about</a>
		<a
        class="hover:text-accent transition-colors duration-200"
        href="/about">[l] links</a>
    </div>
  </nav>