---

---

<nav class="flex items-center justify-between mb-12 text-sm">
  <div class="flex space-x-8 font-inter">
    <a
      class={`text-lg hover:text-accent transition-colors duration-200 text-primary ${Astro.url.pathname === "/" ? `font-bold bg-amber-300` : ``}`}
      href="/">[h] home</a
    >
    <a class={`text-lg hover:text-accent transition-colors duration-200 ${Astro.url.pathname.startsWith("/work") ? `font-bold bg-amber-300` : ``}`} href="/work"
      >[w] work</a
    >
    <a class={`text-lg hover:text-accent transition-colors duration-200 ${Astro.url.pathname.startsWith("/blog") ? `font-bold bg-amber-300` : ``}`} href="/blog"
      >[b] blog</a
    >
    <a class={`text-lg hover:text-accent transition-colors duration-200 ${Astro.url.pathname.startsWith("/projects") ? `font-bold bg-amber-300` : ``}`} href="/projects"
      >[p] projects</a
    >
  </div>
</nav>
