---
import { Menu, X } from "lucide-react";
import { Image } from 'astro:assets';
import sunitHeaderOfficial from '../assets/sunit-official.png';
---

<nav class="relative flex items-center justify-between mb-12 text-sm">
  <!-- Desktop Navigation Links (hidden on mobile) -->
  <div class="hidden lg:flex space-x-8 font-mono">
    <a
      class={`text-lg hover:text-accent transition-colors duration-200 text-primary relative inline-block ${Astro.url.pathname === "/" ? `font-bold bg-amber-300 before:absolute before:-inset-1 before:block before:-skew-y-3 before:bg-amber-300` : ``}`}
      href="/"><span class="relative text-white dark:text-gray-950">[h] home</span></a
    >
    <a
      class={`text-lg hover:text-accent transition-colors duration-200 relative inline-block ${Astro.url.pathname.startsWith("/hackathons") ? `font-bold bg-amber-300 before:absolute before:-inset-1 before:block before:-skew-y-3 before:bg-amber-300` : ``}`}
      href="/hackathons"><span class="relative text-white dark:text-gray-950">[k] hackathons</span></a
    >
    <a
      class={`text-lg hover:text-accent transition-colors duration-200 relative inline-block ${Astro.url.pathname.startsWith("/work") ? `font-bold bg-amber-300 before:absolute before:-inset-1 before:block before:-skew-y-3 before:bg-amber-300` : ``}`}
      href="/work"><span class="relative text-white dark:text-gray-950">[w] work</span></a
    >
    <a
      class={`text-lg hover:text-accent transition-colors duration-200 relative inline-block ${Astro.url.pathname.startsWith("/blog") ? `font-bold bg-amber-300 before:absolute before:-inset-1 before:block before:-skew-y-3 before:bg-amber-300` : ``}`}
      href="/blog"><span class="relative text-white dark:text-gray-950">[b] blog</span></a
    >
    <a
      class={`text-lg hover:text-accent transition-colors duration-200 relative inline-block ${Astro.url.pathname.startsWith("/projects") ? `font-bold bg-amber-300 before:absolute before:-inset-1 before:block before:-skew-y-3 before:bg-amber-300` : ``}`}
      href="/projects"><span class="relative text-white dark:text-gray-950">[p] projects</span></a
    >
    <!-- <a
      class={`text-lg hover:text-accent transition-colors duration-200 relative inline-block ${Astro.url.pathname.startsWith("/fun") ? `` : ``}`}
      href="/"><span class="relative text-white dark:text-gray-950">[f] fun <span class="text-xs bg-gray-500/50 p-1 text-gray-100 font-bold font-inter">Coming Soon</span></span></a> -->
  </div>

    <!-- Hamburger Menu Icon -->
    <button id="hamburger-menu" class="lg:hidden p-2">
      <Menu id="hamburger" className="w-12 h-12"/>
      <X id="close-icon" className="hidden w-12 h-12" />
    </button>
  
    <!-- Hamburger Menu Icon -->
    <button id="hamburger-menu" class="lg:hidden p-2">
      <div class="flex">
        <!-- <Image src={sunitHeaderOfficial2} alt="Sunit Shirke" class="w-36 h-36 rounded-full p-1 shadow-lg bg-gradient-to-r from-[#833ab4] via-[#fd1d1d] to-[#fcb045]" /> -->
        <Image src={sunitHeaderOfficial} alt="Sunit Shirke" class="w-14 h-14 rounded-full shadow-lg" />
      </div>
    </button>

  <!-- Mobile Menu Links (hidden by default) -->
  <div
    id="mobileMenu"
    class="lg:hidden hidden absolute top-full left-0 w-full bg-white shadow-lg z-10 font-mono"
  >
    <a
      class={`block text-lg hover:text-accent transition-colors duration-200 p-2 ${Astro.url.pathname === "/" ? `font-bold bg-amber-300` : ``}`}
      href="/">[h] home</a
    >
    <a
      class={`block text-lg hover:text-accent transition-colors duration-200 p-2 ${Astro.url.pathname.startsWith("/work") ? `font-bold bg-amber-300` : ``}`}
      href="/work">[w] work</a
    >
    <a
      class={`block text-lg hover:text-accent transition-colors duration-200 p-2 ${Astro.url.pathname.startsWith("/hackathons") ? `font-bold bg-amber-300` : ``}`}
      href="/hackathons">[k] hackathons</a
    >
    <a
      class={`block text-lg hover:text-accent transition-colors duration-200 p-2 ${Astro.url.pathname.startsWith("/blog") ? `font-bold bg-amber-300` : ``}`}
      href="/blog">[b] blog</a
    >
    <a
      class={`block text-lg hover:text-accent transition-colors duration-200 p-2 ${Astro.url.pathname.startsWith("/projects") ? `font-bold bg-amber-300` : ``}`}
      href="/projects">[p] projects</a
    >
    <a
      class={`block text-lg hover:text-accent transition-colors duration-200 p-2 ${Astro.url.pathname.startsWith("/fun") ? `font-bold bg-amber-300` : ``}`}
      href="/">[f] fun <span class="text-xs bg-gray-500/50 p-1 text-gray-100 font-bold font-inter">Coming Soon</span> </a
    >
  </div>
</nav>

<script>
  // Toggle the mobile menu when the hamburger button is clicked
  const hamburgerMenu = document.getElementById("hamburger-menu");
  const hamburger = document.getElementById("hamburger");
  const mobileMenu = document.getElementById("mobileMenu");
  const closeMenu = document.getElementById("close-icon");

  hamburgerMenu?.addEventListener("click", () => {
    hamburger?.classList.toggle("hidden");
    mobileMenu?.classList.toggle("hidden");
    closeMenu?.classList.toggle("hidden");
  });
</script>
