---
import { Menu, X } from "lucide-react";
---

<nav class="relative flex items-center justify-between mb-12 text-sm">
  <!-- Desktop Navigation Links (hidden on mobile) -->
  <div class="hidden lg:flex space-x-8 font-inter">
    <a
      class={`text-lg hover:text-accent transition-colors duration-200 text-primary ${Astro.url.pathname === "/" ? `font-bold bg-amber-300` : ``}`}
      href="/">[h] home</a
    >
    <a
      class={`text-lg hover:text-accent transition-colors duration-200 ${Astro.url.pathname.startsWith("/work") ? `font-bold bg-amber-300` : ``}`}
      href="/work">[w] work</a
    >
    <a
      class={`text-lg hover:text-accent transition-colors duration-200 ${Astro.url.pathname.startsWith("/blog") ? `font-bold bg-amber-300` : ``}`}
      href="/blog">[b] blog</a
    >
    <a
      class={`text-lg hover:text-accent transition-colors duration-200 ${Astro.url.pathname.startsWith("/projects") ? `font-bold bg-amber-300` : ``}`}
      href="/projects">[p] projects</a
    >
    <a
      class={`text-lg hover:text-accent transition-colors duration-200 ${Astro.url.pathname.startsWith("/fun") ? `font-bold bg-amber-300` : ``}`}
      href="/projects">[f] fun</a
    >
  </div>

  <!-- Hamburger Menu Icon -->
  <button id="hamburger-menu" class="lg:hidden p-2">
    <Menu id="hamburger" />
    <X id="close-icon" className="hidden" />
  </button>

  <!-- Mobile Menu Links (hidden by default) -->
  <div
    id="mobileMenu"
    class="lg:hidden hidden absolute top-full left-0 w-full bg-white shadow-lg z-10"
  >
    <a
      class={`block text-lg hover:text-accent transition-colors duration-200 p-2 ${Astro.url.pathname === "/" ? `font-bold bg-amber-300` : ``}`}
      href="/">[h] home</a
    >
    <a
      class={`block text-lg hover:text-accent transition-colors duration-200 p-2 ${Astro.url.pathname.startsWith("/work") ? `font-bold bg-amber-300` : ``}`}
      href="/work">[w] work</a
    >
    <a
      class={`block text-lg hover:text-accent transition-colors duration-200 p-2 ${Astro.url.pathname.startsWith("/blog") ? `font-bold bg-amber-300` : ``}`}
      href="/blog">[b] blog</a
    >
    <a
      class={`block text-lg hover:text-accent transition-colors duration-200 p-2 ${Astro.url.pathname.startsWith("/projects") ? `font-bold bg-amber-300` : ``}`}
      href="/projects">[p] projects</a
    >
    <a
      class={`block text-lg hover:text-accent transition-colors duration-200 p-2 ${Astro.url.pathname.startsWith("/fun") ? `font-bold bg-amber-300` : ``}`}
      href="/fun">[f] fun</a
    >
  </div>
</nav>

<script>
  // Toggle the mobile menu when the hamburger button is clicked
  const hamburgerMenu = document.getElementById("hamburger-menu");
  const hamburger = document.getElementById("hamburger");
  const mobileMenu = document.getElementById("mobileMenu");
  const closeMenu = document.getElementById("close-icon");

  hamburgerMenu?.addEventListener("click", () => {
    hamburger?.classList.toggle("hidden");
    mobileMenu?.classList.toggle("hidden");
    closeMenu?.classList.toggle("hidden");
  });
</script>
